<?xml version="1.0" ?>
<robot name="vention_base">
  <link name="vention_base">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="1.821E-05" ixy="-4.1084E-09" ixz="-1.448E-07" iyy="1.062E-05" iyz="-1.5136E-09" izz="1.0557E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="vention_base_simplified.obj"/>
      </geometry>
      <material name="aluminium">
        <color rgba="0.827450980392156 0.827450980392156 0.827450980392156 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="vention_base_simplified.obj"/>
      </geometry>
    </collision>
  </link>
</robot>

